*, body{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  :root {
    /* font */
    --ff-primary:'Inter', sans-serif;
    --ff-secondary:'Oooh Baby', cursive;

    /* colour */
    --clr-main: #FFFFFF;
    --clr-complementary: #E5FAF4;
    --clr-complementary-light: #04A777;
    --clr-complementary-dark: #006FFF;
  
    /* font size */
    --fs-h1: 1rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 0.75rem;
    --fs-body: 1rem;
  
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25), 
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
  }

  .container {
      padding: 0;
  }

  /* *****************************Hero Section*************************** */

  .hero {
    font-family: var(--ff-primary);
    background-image: url("/assets/images/hero-bg.png");
    background-repeat: no-repeat;
    background-size:contain;
  }

  .search {
      padding: 20vh 10vw;
  }

  .search h1 {
      font-size: 72px;
      font-weight: 700;
      color: var(--clr-main);
  }

  .search-area {
      background-color: var(--clr-main);
      border: 2px solid #FAFAFA;
      border-radius: 20px;
      padding: 20px 79px;
  }

  .search-area ul {
      font-weight: 400;
      font-size: 18px;
      list-style: none;
      padding: 10px 0px;
  } 

  .search-area ul li:hover {
      text-decoration: underline;
      cursor: pointer;
      font-weight: 600;
      text-underline-offset: 20px;
      text-decoration-thickness: 3px;
      transition: all 0.5s ease-in;
      padding-bottom: 23px;  
}

  .search-area ul li:last-child:after {
      position: absolute;
      padding-left: 10px;
      margin-top: -4px;
      content: url(/assets/images/dropdown-arrow.png);
  }

  .search-form {
    width: auto;
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 28px;
    border: 3px solid #DCDCDC;
    margin-bottom: 10px;
  }

  .search-form input {
      all: unset;
      font: 18px;
      padding: 10px 20px;
      width: 90%;
      text-align: left;
  }
  
  .search-form button {
      all: unset;
      cursor: pointer;
      width: 44px;
      height: 44px;
  }

  svg {
    color: #FE2900;
    fill: currentColor;
    width: 23px;
    height: 23px;
    padding-right: 3px;
  }

  .search-selection {
    margin: 15px 0px;
  }

  .search-selection button {
    white-space: nowrap;
    text-align: center;
    padding: 10px 5px !important;
    background-color: var(--clr-main);
    border: 1px solid #DCDCDC;
  }

  .hero-text-bottom-main {
      margin-top: 24px;
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
  }

  .hero-text-bottom-alt {
      font-size: 18px;
      font-weight: 300;
      white-space: pre-wrap;
      padding: 0px 70px;
  }

  /* ***********************Destinations************************ */

  .destinations {
      margin-top: 400px;
      background-color: var(--clr-complementary);
  }

  .destinations-title {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 67px;
      margin-left: 107px;
      margin-right: 107px;
  }

  .destinations-title h2 {
      font-size: 30px;
      font-weight: 400;
  }

  .destinations-title a {
      color: var(--clr-complementary-light);
  }

  .destinations-title button {
      width: 120px;
      font-size: 16px;
      font-weight: 500;
      background-color: var(--clr-complementary);
      border: 1px solid #DCDCDC;
      border-radius: 28px;
  } 

  .destinations-main {
      padding: 46px 107px;
  }

  .destinations-card {
      background-color: var(--clr-complementary);
  }

  .destinations-img {
      border: 3px solid var(--clr-complementary-light);
  }

  .destinations-img img{
      object-fit: cover;
      object-position: center;
  }

  .destinations-card-title {
      color: var(--clr-complementary-light);
      font-size: 24px;
      font-weight: 500;
  }

  /************************** Things To Do Section ************************/

  .thingsToDo-title {
      margin-top: 54px;
      margin-bottom: 60px;
  }

  .thingsToDo-title img{
      margin-bottom: 33px;
  }

  .thingsToDo-title h2 {
      font-size: 36px;
      font-weight: 700;
  }

  .thingsToDo-title span{
      color: var(--clr-complementary-dark);
  }

  .thingsToDo-card {
      margin: 0px 205px;
  }

  .thingsToDo-card-img img{
      height: 150px;
      width: 200px;
      object-fit: cover;
  }

  .thingsToDo-card-title {
      font-size: 18px;
      font-weight: 600;
      height: 36px;
      line-height: 18px;
  }

  .thingsToDo-card-subtitle {
      font-size: 12px;
      font-weight: 400;
  }

  .thingsToDo-card-top svg {
      color: #333333;
      fill: currentColor;
      width: 18px;
      height: 20px;        
      padding-right: 3px;
  }

  .thingsToDo-card-btn-left {
      font-size: 12px;
      font-weight: 600;
      padding: 7px 13px;
  }

  .thingsToDo-card-btn-right {
      font-size: 12px;
      font-weight: 600;
      padding: 7px 20px;
      font-style: semi-bold;
  }

  .thingsToDo-browseMore-btn a{
      font-size: 16px;
      font-weight: 500;
      line-height: 16px;
      padding: 20px 109px;
      color: #191919;
      border: 1px solid #DCDCDC;
  }


  /****************** Contact ************************/

  
  .contact-card-body {
    /* padding-left: 57px; */
    margin-bottom: 100px;
    background-color: var(--clr-complementary);
  }

  .contact-card-title {
      font-family: var(--ff-secondary);
      font-size: 64px;
      font-weight: 400;
      padding-top: 28px;
      color: var(--clr-complementary-light);
  }

  .contact-card-text {
      font-size: 24px;
      font-weight: 400;
      color: var(--clr-complementary-light);
      padding-bottom: 10px;
  }

  .contact-card-email input{
      padding: 22px 45px;
      font-size: 20px;
  }

  .contact-card-btn {
      padding-top: 20px;
      margin-bottom: 20px;
  }

  .contact-card-btn button{
      font-size: 20px;
      font-weight: 600;
      padding-top: 22px;
      padding-bottom: 22px;
      color: var(--clr-main);
      background: linear-gradient(90deg, #FE2900 0%, #FF9000 100%);
  }

  .contact-card-check {
      padding-top: 20px;
  }

  .contact-card-check input{
      font-size: 30px;
      border: 2px solid #404040;
  }

  .contact-card-check label{
      font-size: 12px;
      font-weight: 400;
      color: var(--clr-complementary-light);
  }

  .contact-card-img {
    object-fit: cover;
    padding-right: 0;
  }


  /********************* Media Queries ********************************/

  @media only screen and (max-width: 768px) {

      /* Hero Mobile */

      .hero-mobile h1 {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
      }
      .hero-mobile-card {
        padding: 19px;
        margin: 16px;
      }
      .hero-mobile-card-nav button{
        font-size: 18px;
        font-weight: 600;
        color: black;
        text-decoration: none;
      }
      .hero-mobile-card-nav button:hover{
          text-decoration: underline;
          cursor: pointer;
          font-weight: 600;
          text-underline-offset: 16px;
          text-decoration-thickness: 3px;
          transition: all 0.5s ease-in;
        }
        .hero-mobile-card-nav button:last-child:after{
            position: absolute;
            padding-left: 60px;
            content: url(/assets/images/heroBgMobileArrow.png);
        }
        .hero-mobile-search-form {
            margin-top: 20px;
            width: auto;
            height: 56px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 28px;
            border: 3px solid #DCDCDC;
        }
        .hero-mobile-search-form input {
            all: unset;
            font: 18px;
            padding: 20px 26px;
            width: 90%;
            text-align: left;
        }
        
        .hero-mobile-search-form button {
            all: unset;
            cursor: pointer;
            width: 44px;
            height: 44px;
        }
        .hero-mobile-search-selection button{
            width: 250px;
            margin: 24px;
            padding: 8px 20px;
            justify-content: space-between;
        }
        

      /* Destinations Mobile */

      .destinations-mobile {
        background-color: var(--clr-complementary);
      }
      .destinations-mobile-title{
        padding: 10px 15px;
        text-align: center;
      }

      .destinations-mobile-title h2{
        font-size: 18px;
      }

      .destinations-mobile-title a{
        color: var(--clr-complementary-light);
      }

      .destinations-mobile-carousel {
          padding: 20px 60px;
      }
      .destinations-mobile-button {
        font-size: 16px;
        font-weight: 500;
        padding: 16px;
      }

    /* Things To Do Mobile  */
    .thingsToDoCarousels {
        padding: 20px 40px;
    }
    .thingsToDo-mobile-card-img img{
        height: 200px;
        width: 300px;
        object-fit: cover;
    }

    .contact {
        padding: 20px;
    }


  }

  @media only screen and (max-width: 992px) {
      .destinations {
        margin-top: 0;
      }
      .search {
        padding: 5vh 0vw;
      }
  }

  @media only screen and (max-width: 1024px) {
      .destinations {
        margin-top: 0;
      }
      .search {
        padding: 10vh 5vw;
      }
  }

  @media only screen and (max-width: 1200px) {
    .search {
        padding: 10vh 5vw;
    }
  }











